<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs')%>
</head>

<body>
  <!-- Header Nav Bar  -->
  <div class="Header">
    <div class="gfLogo">
      <img class="gfLogo" src="/imgs/gluten-free-logo.jpg">
    </div>
    <div class="li">
      <a class="mainIndexLi" href="/recipes">Recipes</a>
    </div>

    <div class="li">
      <a class="mainIndexLi" href="/recipes/">Log Out</a>
    </div>
  </div>
  <hr>


  <h4>Add Recipe</h4>

  <!-- Begin Form -->
  <form action="/" method="POST">
    <!-- Recipe Name (required)  -->
    <input type="text" name="recipeName" id="recName" placeholder="Recipe Name" />
    <br />

    <!-- URL to an image (not required)  -->
    URL: <input type="url" name="urlPath" placeholder="image URL" />

    <!-- Begin Rich Text Formatting tool area -->
    <textarea name="instructions"
      placeholder="Enter your recipe information. You can drag and drop images, edit images, print your recipe, put in checkboxes.  Explore & have fun!">
    </textarea>
    <script>
      tinymce.init({
        selector: 'textarea',
        plugins: 'a11ychecker advcode casechange export formatpainter image editimage linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tableofcontents tinycomments tinymcespellchecker',
        toolbar: 'a11ycheck addcomment showcomments casechange checklist code export formatpainter image editimage pageembed permanentpen table tableofcontents',
        toolbar_mode: 'floating',
        tinycomments_mode: 'embedded',
        tinycomments_author: 'Author name',
        width: 900,
        height: 850,
        max_image_dimension: 50
      });
    </script>

    <!-- Submit button -->
    <input type="submit" value="Add Recipe" />
    <button><a href="/recipes">Cancel</a>
  </form>
</body>

</html>